{% for item in items %}
<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
<div class="block-4 text-center border">
    <figure class="block-4-image">
    <a href="/product/{{ item.id }}"><img src="images/products/{{ item.product_image }}" alt="Image placeholder" class="img-fluid"></a>
    </figure>
    <div class="block-4-text p-4">
    <h3><a href="/product/{{ item.id }}"> {{item.name}}</a></h3>
    <p class="mb-0">{{item.description}}</p>
    <p class="text-primary font-weight-bold">{{item.price}} €</p>
    <p class="mb-0 availability-product">
        {% if item.stock == 0%}
        <i class="fa fa-circle text-danger" aria-hidden="true"></i>
        <span>Sem stock</span>
        {% elif item.stock <= 5%}
        <i class="fa fa-circle text-warning" aria-hidden="true"></i>
        <span>Poucas unidades</span>
        {% else %}
        <i class="fa fa-circle text-success" aria-hidden="true"></i>
        <span>Disponivel</span>
        {% endif %}
        
    </p>
    </div>
</div>
</div>
{% endfor %}